page-login {
    .fundo{
        background: linear-gradient(23deg, rgba(247,72,72,1) 0%, rgba(247,72,72,1) 10%, rgba(34,0,128,1) 62%, rgba(34,0,128,1) 100%);
    }
    .logo {
        width: 50%;
        height: auto;
        max-width: 12em;
        margin: 0 auto;
      }
      .margin-logo{
          margin-top: 8rem;
      }
      .margin-btn{
        margin-top: 4rem;
      }
}
